/*styles for sign up form index page*/
@font-face {
        font-family: NorseBold;
        src: url(Norse-Bold.otf);
    }

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

.image-logo-container {
    flex-basis: 5%;
}

.image {
    width: fit-content;
    height: 788px;
}

.logo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 11rem;
    background: black;
    opacity: 0.6;
    width: 525px;
    height: 180px;
}

.logo {
    width: 120px;
    height: 170px;
    position: absolute;
    top: 11.4rem;
    left: 6rem;
}

.company-name {
    font-family: NorseBold;
    color: rgb(255, 255, 255);
    font-size: 120px;
    position: absolute;
    top: 13rem;
    left: 14rem;
}

.credit {
    position: absolute;
    bottom: 1rem;
    left: 9rem;
    color: white;
}

.credit a {
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 95%;
    padding-left:80px;
}